<!--The content below is only a placeholder and can be replaced.-->
<app-nav></app-nav>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="https://conteudo.imguol.com.br/blogs/125/files/2017/04/avi%C3%A3o-e-raios-iStock-533259451-1024x683.jpg">
</div>
<p></p>
<div style="text-align:center" class="row">
  <div class="col-sm-1 col-md-2 col-lg-2"></div>
  <div class="col-sm-1 col-md-8 col-lg-8">
    <app-carrossel></app-carrossel>
  </div>
  <div class="col-sm-1 col-md-2 col-lg-2"></div>
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

